@font-face {
  font-family: 'Minecraft Evenings';
  font-weight: normal;
  font-style: normal;
  src: local('Minecraft Evenings'), url('http://localhost/personnel/projets_associatifs/Ecole%20des%20Geeks/projets/KarmaCube/sources/themes/defaut/fonts/Minecraft Evenings.otf') format('truetype');
}

body {
  font-family: 'Minecraft Evenings', serif;
  font-size: 48px;
}

h1 {
  font-family: 'Minecraft Evenings', serif;
  font-size: 95px;
}

.navbar-brand {
  font-family: 'Minecraft Evenings', serif;
  font-size: 60px;
}

.nouveautes {
  font-size: 20px;
  padding: 10px;
  border: 2px solid darkgreen;
  border-radius: 30px;
}

.nouveautes p {
  color: red;
}
