<div class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{ ::'Delete_User' | translate }}</h4>
			</div>
			<div class="modal-body">
				{{ ::'Do_You_Confirm_Delete' | translate }} : {{ object.OwnerName }} - {{ object.CompanyName }}
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="close(object)" data-dismiss="modal">{{ ::'Yes' | translate }}</button>
				<button class="btn btn-warning" ng-click="close(false)" data-dismiss="modal">{{ ::'No' | translate }}</button>
			</div>
		</div>
	</div>
</div>