<div class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ ::'Create_Prospect_List' | translate }}</h4>
			</div>
			<div class="modal-body">
				<customtable data="object.prospects" headers="['Id', 'City', 'ZipCode', 'Email', 'Phone', 'WebSite', 'ModificationDate', 'CreationDate']" properties="[{ name: 'Id', type: 'integer' }, { name: 'TownHall[\'City\']', type: 'string' }, { name: 'TownHall[\'ZipCode\']', type: 'string' }, { name: 'Email', type: 'string' }, { name: 'Phone', type: 'string' }, { name: 'WebSite', type: 'string' }, { name: 'ModificationDate', type: 'datetime' }, { name: 'CreationDate', type: 'datetime' }]" title="'Prospects'" icon="'fa fa-users'" actions="[]"></customtable>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-disabled="prospectlistform.$invalid" ng-click="close(object.prospects)" data-dismiss="modal">{{ ::'Add_To_List' | translate }}</button>
				<button class="btn btn-default" ng-click="close(false)" data-dismiss="modal">{{ ::'Close' | translate }}</button>
			</div>
		</div>
	</div>
</div>