<div class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ ::'Edit_Public_Building' | translate }}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" name="publicbuildingform">
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label label-sorin text-left">{{ ::'Name' | translate }}</label>
						<div class="col-md-8 col-sm-8"><input type="text" class="form-control" ng-model="object.enhanceddata.Name" required></div>
					</div>
					<div class="form-group">
						<label class="col-md-4 col-sm-4 control-label label-sorin text-left">{{ ::'State' | translate }}</label>
						<div class="col-md-8 col-sm-8"><select class="form-control" data-ng-options="enhanceddatastate.value as enhanceddatastate.legend for enhanceddatastate in object.enhanceddatastates" data-ng-model="object.enhanceddata.State" style="height:auto" required></select></div>
					</div>
					<div class="form-group" ng-show="object.enhanceddata.State === 1">
						<label class="col-md-4 col-sm-4 control-label label-sorin text-left">{{ ::'From' | translate }}</label>
						<div class="col-md-8 col-sm-8">
							<div class="row">
								<div class="col-md-4">
									<input type="number" class="form-control" min="1" max="31" ng-model="object.enhanceddata.fromDateDay" placeholder="15" >
								</div>
								<div class="col-md-4">
									<input type="number" class="form-control" min="1" max="12" ng-model="object.enhanceddata.fromDateMonth" placeholder="08" >
								</div>
								<div class="col-md-4">
									<input type="number" class="form-control" min="2000" ng-model="object.enhanceddata.fromDateYear" placeholder="2018" >
								</div>
							</div>
						</div>
					</div>
					<div class="form-group" ng-show="object.enhanceddata.State === 1">
						<label class="col-md-4 col-sm-4 control-label label-sorin text-left">{{ ::'To' | translate }}</label>
						<div class="col-md-8 col-sm-8">
							<div class="row">
								<div class="col-md-4">
									<input type="number" class="form-control" min="1" max="31" ng-model="object.enhanceddata.toDateDay" placeholder="31" >
								</div>
								<div class="col-md-4">
									<input type="number" class="form-control" min="1" max="12" ng-model="object.enhanceddata.toDateMonth" placeholder="08" >
								</div>
								<div class="col-md-4">
									<input type="number" class="form-control" min="2000" ng-model="object.enhanceddata.toDateYear" placeholder="2018" >
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-disabled="publicbuildingform.$invalid" ng-click="close(object.enhanceddata)" data-dismiss="modal">{{ ::'Valid' | translate }}</button>
				<button class="btn btn-default" ng-click="close(false)" data-dismiss="modal">{{ ::'Close' | translate }}</button>
			</div>
		</div>
	</div>
</div>