<div class="x_panel">
    <div class="x_title">
        <h2>{{ ::'Mail_Box' | translate }} <span class="badge badge-default">{{ mails.length }}</span><small>{{ mailaddress }}</small></h2>
        <div class="clearfix"></div>
    </div>
	<loader displaying="loadingmails" size="50" margin="0"/>
    <div ng-hide="loadingmails" class="x_content">
		<div class="row form-group">
			<div class="col-sm-3">
				<button id="compose" class="btn btn-sm btn-success btn-block" type="button" ng-click="createMailCommand()">{{ ::'Create_A_Mail' | translate }}</button>
			</div>
		</div>
        <div class="row">
			<div class="col-sm-3 mail_list_column" style="max-height:50vh;overflow-y:scroll;">
				<a ng-repeat="mail in mails track by $index" ng-click="sendMailCallbackCommand(mail, $index)">
					<div class="mail_list">
						<div class="left">
							<i ng-if="mail.Read === 0" class="fa fa-circle"></i>
						</div>
						<div class="right">
							<h3>{{ mail.SenderName }} <small>{{ mail.Date | malezhiveDate }}</small></h3>
							<p>{{ mail.Subject }}</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-9 mail_view">
				<div class="inbox-body">
					<div ng-show="creatingmail" class="row form-group">
						<form class="form-horizontal form-label-left" novalidate>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{{ ::'To' | translate }} <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control col-md-7 col-xs-12" placeholder="{{ ::'To' | translate }}" required="required" type="email" ng-model="toemailcreating">
								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{{ ::'Subject' | translate }} <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control col-md-7 col-xs-12" placeholder="{{ ::'Subject' | translate }}" required="required" type="text" ng-model="subjectcreating">
								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{{ ::'Message' | translate }} <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<textarea class="form-control col-md-7 col-xs-12" rows="6" placeholder="{{ ::'Message' | translate }}" required="required" ng-model="responsecreating"></textarea>
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-md-offset-3">
									<button id="send" type="submit" class="btn btn-success" ng-click="sendMailCallbackCommand(toemailcreating, responsecreating, subjectcreating)">{{ ::'Send' | translate }}</button>
									<button id="send" type="submit" class="btn btn-danger" ng-click="response = undefined;displaysendmail = false;creatingmail = false;">{{ ::'Cancel' | translate }}</button>
								</div>
							</div>
						</form>
					</div>
					<div ng-hide="creatingmail" class="mail_heading row">
						<div class="col-md-8">
							<div class="btn-group">
								<button class="btn btn-sm btn-primary" type="button" ng-click="replyMailCommand()"><i class="fa fa-reply"></i> Répondre</button>
								<button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Transférer" ng-click="forwardMailCommand()"><i class="fa fa-share"></i></button>
								<button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Supprimer" ng-click="deletemailcallbackCommand()"><i class="fa fa-trash-o"></i></button>
							</div>
						</div>
						<div class="col-md-4 text-right">
							<p class="date"> {{ selectedmail.Date | malezhiveDate }}</p>
						</div>
						<div class="col-md-12">
							<h4>{{ selectedmail.Subject }}</h4>
						</div>
					</div>
					<div ng-hide="creatingmail" class="sender-info">
						<div class="row">
							<div class="col-md-12">
								<strong>{{ selectedmail.SenderName }}</strong>
								<span>({{ selectedmail.SenderEmail }})</span>
								<a class="sender-dropdown"><i class="fa fa-chevron-down"></i></a>
							</div>
						</div>
					</div>
					<div ng-show="displaysendmail && !creatingmail" class="row form-group">
						<form class="form-horizontal form-label-left" novalidate>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{{ ::'To' | translate }} <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input class="form-control col-md-7 col-xs-12" placeholder="{{ ::'To' | translate }}" required="required" type="email" ng-model="toemail">
								</div>
							</div>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">{{ ::'Message' | translate }} <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<textarea class="form-control col-md-7 col-xs-12" rows="6" placeholder="{{ ::'Message' | translate }}" required="required" ng-model="response"></textarea>
								</div>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-md-offset-3">
									<button id="send" type="submit" class="btn btn-success" ng-click="sendMailCallbackCommand(toemail, response)">{{ ::'Send' | translate }}</button>
									<button id="send" type="submit" class="btn btn-danger" ng-click="response = undefined;displaysendmail = false;">{{ ::'Cancel' | translate }}</button>
								</div>
							</div>
						</form>
					</div>
					<div ng-hide="creatingmail" class="view-mail">
						<loader displaying="loadingmailmessage" size="50" margin="0"/>
						<span ng-bind-html="selectedmail.Message"></span>
					</div>
					<!--
				  <div class="attachment">
					<p>
					  <span><i class="fa fa-paperclip"></i> 3 attachments — </span>
					  <a href="#">Download all attachments</a> |
					  <a href="#">View all images</a>
					</p>
					<ul>
					  <li>
						<a href="#" class="atch-thumb">
						  <img src="images/inbox.png" alt="img" />
						</a>

						<div class="file-name">
						  image-name.jpg
						</div>
						<span>12KB</span>


						<div class="links">
						  <a href="#">View</a> -
						  <a href="#">Download</a>
						</div>
					  </li>

					  <li>
						<a href="#" class="atch-thumb">
						  <img src="images/inbox.png" alt="img" />
						</a>

						<div class="file-name">
						  img_name.jpg
						</div>
						<span>40KB</span>

						<div class="links">
						  <a href="#">View</a> -
						  <a href="#">Download</a>
						</div>
					  </li>
					  <li>
						<a href="#" class="atch-thumb">
						  <img src="images/inbox.png" alt="img" />
						</a>

						<div class="file-name">
						  img_name.jpg
						</div>
						<span>30KB</span>

						<div class="links">
						  <a href="#">View</a> -
						  <a href="#">Download</a>
						</div>
					  </li>

					</ul>
				  </div>
				-->
				<div ng-hide="creatingmail" class="btn-group">
					<button class="btn btn-sm btn-primary" type="button" ng-click="replyMailCommand()"><i class="fa fa-reply"></i> Répondre</button>
					<button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Transférer" ng-click="forwardMailCommand()"><i class="fa fa-share"></i></button>
					<button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Supprimer" ng-click="deleteMailCommand()"><i class="fa fa-trash-o"></i></button>
				</div>
            </div>

          </div>
          <!-- /CONTENT MAIL -->
        </div>
    </div>
</div>